<a href="https://colab.research.google.com/github/Asimbaloch/Python/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples in Python

A tuple in Python is an ordered, immutable collection of elements. Tuples are similar to lists, but unlike lists, once a tuple is created, its contents cannot be changed (i.e., it is immutable). Tuples are useful when you want to ensure that the data stored should not be modified, and they can be used to group related data together.

## Key Characteristics of Tuples

- **Ordered**: Tuples maintain the order of elements.
- **Immutable**: You cannot modify, add, or remove elements after a tuple is created.
- **Allows Duplicates**: Tuples can contain duplicate values.
- **Heterogeneous**: A tuple can store elements of different data types.
- **Indexed**: You can access elements in a tuple using an index.

## Creating Tuples

You can create a tuple by placing elements inside parentheses `()` and separating them with commas.

In [2]:
# Empty tuple
empty_tuple = ()

# Tuple with integers
num_tuple = (1, 2, 3)

# Tuple with mixed data types
mixed_tuple = (1, "hello", 3.14)

# Tuple without parentheses (tuple packing)
packed_tuple = 1, 2, 3

# Tuple with a single element (note the trailing comma)
single_element_tuple = (5,)

## Accessing Elements in a Tuple

Tuples are indexed, meaning you can access elements using their position (index).

In [3]:
# Example tuple
fruits = ("apple", "banana", "cherry", "date")

# Accessing elements by index
first_fruit = fruits[0]  # 'apple'
second_fruit = fruits[1]  # 'banana'

# Accessing the last element
last_fruit = fruits[-1]  # 'date'

# Slicing a tuple (subtuple)
sub_tuple = fruits[1:3]  # ('banana', 'cherry')

## Tuple Immutability

Since tuples are immutable, you cannot modify the elements once the tuple is created. Attempting to change an element will raise a `TypeError`.

In [4]:
num_tuple = (1, 2, 3)

# Trying to modify an element will raise an error
# num_tuple[0] = 10  # TypeError: 'tuple' object does not support item assignment

## Tuple Methods

Since tuples are immutable, they provide fewer methods compared to lists. The two main tuple methods are:

1. **`count()`**
   - Returns the number of times a specified value occurs in the tuple.

In [5]:
numbers = (1, 2, 2, 3, 4, 2)
count_of_twos = numbers.count(2)  # 3

2. **`index()`**
   - Returns the index of the first occurrence of a specified value in the tuple.

In [6]:
fruits = ("apple", "banana", "cherry", "apple")
index_of_apple = fruits.index("apple")  # 0 (the first occurrence of 'apple')

# Operations with Tuples

Tuples support many operations similar to lists, including concatenation, repetition, and membership tests.

## 1. Concatenation

You can concatenate two or more tuples using the `+` operator.

In [7]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2  # (1, 2, 3, 4, 5, 6)
concatenated_tuple

(1, 2, 3, 4, 5, 6)

**2. Repetition**\
You can repeat a tuple using the * operator.

In [8]:
num_tuple = (1, 2, 3)
repeated_tuple = num_tuple * 3  # (1, 2, 3, 1, 2, 3, 1, 2, 3)

**3. Membership Test**\
You can check if an element exists in a tuple using the in keyword.

In [9]:
fruits = ("apple", "banana", "cherry")

print("banana" in fruits)  # True
print("grape" in fruits)   # False

True
False

##Nested Tuples
Tuples can also contain other tuples, creating nested tuples.

In [10]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"))

# Accessing elements in a nested tuple
first_tuple = nested_tuple[0]  # (1, 2, 3)
second_tuple = nested_tuple[1]  # ('a', 'b', 'c')

first_element_of_first_tuple = nested_tuple[0][0]  # 1

Summary of Tuples:
Immutable: Once created, the elements of a tuple cannot be changed.
Ordered: Tuples maintain the order of elements.
Methods: Limited methods like count() and index().
Use Cases: Used when data should remain constant (e.g., coordinates, configurations, or return values).